<div class="container">
    <div class="jumbotron">
        <h1 class="display-3 d-flex justify-content-center">Welcome to our online school</h1>
        <h2 class="d-flex justify-content-center">This website is for MIU online class management</h2>
    
        
    </div>
</div>